
<main>
  <div class="container-fluid">
    <div class="bg-blue text-white mt-5 p-5 text-justify">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="py-4 px-5 font-weight-bold">Programa "Guadalupe"</h1>
          <div class="px-5">
            <p class="mt-4 lead">
              Ofrecemos consejería a los sobrevivientes y sus familiares desde una perspectiva holística y ontológica.
            </p>
            <p class="mt-3 lead">
              Brindamos orientación a los sobrevivientes para que reciban un tratamiento médico, psicológico y psiquiátrico adecuado.
            </p>
            <p class="mt-3 lead">
              Ofrecemos asesoría respecto a los procesos legales que deben seguirse en caso de haber sido victima de algún tipo de maltrato y/o abuso.
            </p>
            <a routerLink="guadalupe"><button class="text-white">Conoce más</button></a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/programas_1.png" alt="">
        </div>
      </div>
    </div>

    <div class="bg-white mt-5 p-5 ">
      <div class="row">
        <div class="col-md-6 px-5">
          <h1 class="py-4 font-weight-bold text-left">Programa "Un alma, dos cuerpos"</h1>
          <p class="lead mt-4 text-justify">
            Extensión del Programa "Guadalupe" exclusivo para la comunidad LBTQ. Educación sexual enfocada en la equidad de género y derechos de la comunidad LGBTIQ+.
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/programas_2.png" alt="">
        </div>
      </div>
    </div>

    <div class="bg-blue-2 text-white mb-5 p-5">
      <div class="row justify-content-center">
        <div class="col-md-6 px-5">
          <h1 class="py-4 font-weight-bold">Programa "Encajando en sí mismo"</h1>
          <div class="text-justify">
            <p class="mt-4 lead">
              Ofrecemos consejería a los sobrevivientes y sus familiares desde una perspectiva holística y ontológica.
            </p>
            <p class="lead mt-3">
              Brindamos orientación a los sobrevivientes para que reciban un tratamiento médico, psicológico y psiquiátrico adecuado.
            </p>
            <p class="mt-3 lead">
              Ofrecemos asesoría respecto a los procesos legales que deben seguirse en caso de haber sido victima de algún tipo de maltrato y/o abuso.
            </p>
          </div>
        </div>
        <div class="col-md-4 ">
          <img class="img-fluid" src="../../assets/programas_3.png" alt="programas">
        </div>
      </div>
    </div>
  </div>
</main>