<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-9">
        <h1>
          Participamos en el Comité Consultivo Municipal para la Prevención de la Violencia Sexual en NNA
        </h1>
      </div>
      <div class="col-md-3 d-flex justify-content-center gap-4 align-items-center">
        <a href="https://www.facebook.com/FMilagrodeAbril/"><img src="../../assets/face-black.svg" alt="facebook"></a>
        <a href="https://twitter.com/FMilagrodeAbril"><img src="../../assets/twitter-black.svg" alt="twitter"></a>
        <a href="https://www.instagram.com/fmilagrodeabril/"><img src="../../assets/insta-black.svg"
            alt="instagram"></a>
        <a href="mailto:info@fundacionmilagrodeabril.org"><img src="../../assets/mail.svg" alt="send-mailto"></a>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-3 pb-5">
    <div class="row gap-4">
      <div class="col-md-6">
        <p class="border-bottom lead py-4 mb-4 border-top mt-4">Por Dirección de Mercadeo y Comunicaciones</p>
        <img src="../../assets/noticia_1.jpg" alt="noticia_1" class="img-fluid">
      </div>
      <div class="col-md-5 mx-auto ">
        <p class="my-3 mt-3 pb-1 lead">El 5 de marzo del presente año, la Fundación Milagro de Abril estuvo presente en
          el Comité
          Interinstitucional Consultivo Municipal para la Prevención de la Violencia Sexual y Atención Integral de
          Niños,
          Niñas y Adolescentes Víctimas de Abuso Sexual y Violencia de Género en representación de las ONG’s sociales.
        </p>
        <p class="my-3 lead">
          Este comité tuvo la participación de la Secretaría de Salud Pública de Manizales, Secretaría de Educación,
          Instituto Colombiano de Bienestar Familiar ICBF, Fiscalía General de la Nación: Futuro Colombia y CTI,
          Instituto Nacional de Medicina Legal y Ciencias Forenses, Comisarías de Familia, Policía Nacional Infancia y
          Adolescencia y DDHH, entre otros entes competentes en este tema
        </p>
        <p class="my-3 lead">
          Esperamos que con nuestra participación podamos contribuir con la articulación de los programas de las
          diferentes instituciones con las reales necesidades de los NNA en condiciones de vulnerabilidad de maltrato y
          abuso sexual.
        </p>
      </div>
    </div>
  </div>

  <div class="container mx-auto mt-2">
    <div class="row">
      <div class="col-md-9">
        <h1 class="pt-4 border-top">Emprendetón de Pre Aceleración</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
      <div class="col-md-5 mx-auto">
        <img src="../../assets/noticias_8.jpg" class="img-fluid my-4 py-1 " alt="noticias_8">
      </div>
      <div class="col-md-6 p-4 ">
        <p class="pb-3 lead">
          El 29 de noviembre la Fundación Milagro de Abril estuvo presente en el Emprendetón, un taller de pre
          aceleración de Innpulsa Colombia con el apoyo de la Cámara de Comercio de Manizales por Caldas, que nos
          permitió a los emprendedores de la ciudad fortalecer y potenciar nuestras organizaciones.
        </p>
        <img src="../../assets/noticias_9.jpg" class="img-fluid " alt="noticias_9">

      </div>
    </div>
  </div>


  <div class="container mx-auto mt-5">
    <div class="row">
      <div class="col-md-9">
        <h1 class="pt-5 border-top">Polifonía de voces por la erradicación de las violencias contra las mujeres.</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
      <div class="col-md-4 mx-auto">
        <img src="../../assets/noticias_10.jpg" class="img-fluid py-4 mt-2 " alt="noticias_10">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/noticias_11.jpg" class="img-fluid" alt="noticias_11">
          </div>
          <div class="col-md-6">
            <img src="../../assets/noticias_12.jpg" class="img-fluid pt-3 mt-1" alt="noticias_12">
          </div>
        </div>
      </div>
      <div class="col-md-6 p-4 ">
        <p class="pb-3 lead">
          Este 26 de noviembre estuvimos en el evento ''Polifonía de voces por la erradicación de las violencias contra
          las mujeres''.
        </p>
        <p class="py-3 lead">
          Se esperaba en el evento la presencia de la experta en violencias de género, la colombo-francesa Florence
          Thomas. No obstante, por las condiciones climáticas de la ciudad, no pudo aterrizar.
        </p>
        <p class="py-3 mt-4 lead">
          Tuvimos un panel de mujeres que lo conformaron Shaira Maritza Franco, representante del Colectivo Armario
          Abierto y líder de la calle de las guapas de Manizales. Marcela Guerra de la Asociación de Mujeres del
          Resguardo de Indígena Cañamomo Lomaprieta y, Maria Camila Agudelo de la organización Juventud Rebelde
        </p>
        <p class="py-3 lead mt-4">
          Este evento se desarrolló en la Facultad de Ciencias Jurídicas y Sociales de la Universidad de Caldas y fue
          organizado por la Plataforma Feminista de Caldas, Red Nacional de Mujeres Nodo Caldas. Red de Mujeres de
          Manizales, La Mesa por la Vida y la Salud de las Mujeres, la Defensoría del pueblo, la Clínica Socio-jurídica
          de Interés Público y la Universidad Nacional de Colombia Sede Manizales, a quienes agradecemos la invitación.
        </p>
      </div>
    </div>
  </div>


  <div class="container mx-auto mt-5">
    <div class="row">
      <div class="col-md-9">
        <h1 class="pt-5 border-top">Velatón por las mujeres asesinadas y violentadas</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4 pt-1 mx-auto">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/noticias_21.jpg" class="d-block w-100" alt="First-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_14.jpg" class="d-block w-100" alt="second-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_15.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_13.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <p class="py-3 mt-2 lead">
          Este 25 de noviembre en la noche en el Parque de la Mujer se llevó a cabo la velatón por las mujeres
          asesinadas y violentadas.
        </p>
        <p class="py mt-5 lead">
          No nos olvidamos de cada una de las mujeres víctimas de violencia y feminicidio, nuestra lucha diaria busca
          prevenir esta violencia, apoyar a las víctimas y sobrevivientes y evitar a toda costa los feminicidios.
        </p>
        <p class="py-2 mt-5 lead">
          Se contó con la presentación del performance "Zapatos Rojos" de Adriana Toro de la Fundación Teatral el
          Quijote.
        </p>
        <div class="row">
          <div class="col-md-5 ">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/noticias_16.jpg" class="d-block w-100" alt="First-slide">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../assets/noticias_20.jpg" class="d-block w-100" alt="second-slide">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../assets/noticias_18.jpg" class="d-block w-100" alt="third-slide">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../assets/noticias_17.jpg" class="d-block w-100" alt="third-slide">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <p class="py-3 mt-4 lead">
            Si estás en una relación abusiva y tóxica, búscanos, prometemos ayudarte para romper el ciclo. ¡Mujer no
            estás
            sola!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 ">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h1 class="border-top pt-5">Presentación Política Pública de Mujeres y Equidad de Géneros</h1>
          <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mt-4 pt-1 mx-auto">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/noticias_22.jpg" class="d-block w-100" alt="First-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_23.jpg" class="d-block w-100" alt="second-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_24.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_25.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_26.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_27.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_28.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <p class="py-3 mt-2 lead">
          Este 25 de noviembre desde la Universidad de Manizales en la presentación de la Política Pública de Mujeres y
          Equidad de Géneros consignada en el Decreto 0617 de 2019, la cual lleva por nombre “Manizales equitativa:
          transFORMANDO cultura”.
        </p>
        <p class="py mt-5 lead">
          Una apuesta para educar con perspectiva de género y desestructurando la cultura patriarcal de la ciudad.
        </p>
        <p class="py-2 mt-5 lead">
          Felicitaciones a las Mujeres Comunitarias de Manizales, a la Primera Gestora y todo el gabinete de la
          Secretaría de Salud y Secretaría de Mujeres y Equidad de Género de la Alcaldía de Manizales por el trabajo en
          conjunto con la Universidad de Manizales en la actualización de dicha política que contó con la participación
          activa de la comunidad, universidades, organizaciones sociales y colectivos.
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-5 ">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h1 class="border-top pt-5">Empoderamiento y Emprendimiento de las Mujeres en el Mundo de Hoy</h1>
          <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mt-4 mx-auto pt-1 ">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/noticias_29.jpg" class="d-block w-100" alt="First-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_30.jpg" class="d-block w-100" alt="second-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/noticias_31.jpg" class="d-block w-100" alt="third-slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <p class="lead py-3 mt-2">
          Este 25 de noviembre estuvimos presentes en el evento ''Empoderamiento y emprendimiento de las mujeres en el
          mundo de hoy'' organizado por la Secretaría de Mujeres y Equidad de Género de la Alcaldía de Manizales.</p>
        <p class="lead py-3 mt-4">
          El evento contó con la participación de Renato Gutiérrez, consultor en estrategia e innovación; Janeth Pinilla
          fundadora y propietaria de ''La chapolera'' y Lina Arbelaez coordinadora de la unidad de emprendimiento de la
          Universidad de Manizales.
        </p>
        <p class="lead py-3 mt-4">
          Gracias a la Secretaría y a la Universidad de Manizales por la invitación y acogida.
        </p>
      </div>
    </div>
  </div>


  <div class="container mt-5 ">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h1 class="border-top pt-5">Conmemoración del Día Internacional para la Eliminación de la Violencia Contra las
            Mujeres</h1>
          <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-5">
        <div class="row py-3">
          <img src="../../assets/noticias_2.jpg" class="img-fluid" alt="Día de la mujer">
        </div>
      </div>
      <div class="col-md-6 mx-auto ">
        <p class="lead mb-5 mt-3">Hoy 25 de noviembre comenzamos los 16 días de activismo, conmemorando el día
          internacional de la eliminación de la violencia contra las mujeres hasta el 10 de diciembre, día de los
          derechos humanos. </p>
        <p class="lead">Los invitamos a usar algún distintivo de color naranja durante estos 16 días para unirnos a la
          erradicación y prevención de todo tipo de violencia contra la mujer.
        </p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class=" pt-5 border-top">Marchamos en el Paro Nacional 21N</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="row">

          <img src="../../assets/noticias_3.jpg" alt="noticias3" class="img-fluid mt-2">
        </div>
      </div>
      <div class="col-md-6">
        <p class="mb-4 lead">Este 21 de noviembre hicimos parte de la manifestación pacífica en el Paro Nacional,
          expresando nuestra indignación por los 253 feminicidios de mujeres en el 2019 y los 188 asesinatos de personas
          trans entre 2014 y 2019.</p>
        <p class="my-4 lead">Marchamos también por los asesinatos de lideresas sociales, ambientales e indígenas; por el
          manejo ambiental de nuestros páramos, la aprobación del fracking y la minería, teniendo en cuenta que de
          acuerdo con la ONU Mujeres, las mujeres somos las más afectadas por el cambio climático, la escasez de agua y
          los problemas ambientales.</p>
        <p class="my-4 lead">Marchamos para exigir un sistema de salud acorde con las necesidades de la población y que
          éste refleje los derechos de las mujeres víctimas de violencia sexual, cumpliendo a cabalidad con los
          beneficios en salud otorgados por la ley.
        </p>
        <p class="my-4 lead">Marchamos por el derecho a la educación de los niños, niñas, adolescentes y jóvenes,
          quienes son el futuro de la nación.</p>
      </div>
    </div>
  </div>

  <div class="container mx-auto mt-5">
    <div class="row">
      <div class="col-md-9">
        <h1 class="pt-5 border-top">Jornada de Capacitación y Sensibilización ''La violencia en la vida cotidiana:
          perspectiva jurídica, social y psicológica''</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
      <div class="col-md-4 mx-auto">
        <img src="../../assets/noticias_4.jpg" class="img-fluid my-4 py-1" alt="noticias_4">
        <img src="../../assets/noticias_5.jpg" class="img-fluid" alt="noticias_5">
      </div>
      <div class="col-md-6 p-4 ">
        <p class="pb-3 lead">
          El miércoles 20 de noviembre en el desarrollo de la Jornada de Capacitación y Sensibilización “La Violencia en
          la Vida Cotidiana: Perspectiva Jurídica, Social y Psicológica” contamos con la participación de Paula
          Betancourt y su conferencia ''Educando desde el alma'',
        </p>
        <p class="py-3 lead">
          Además, hicieron su presentación Yeimi Johana Pinilla, magistrada de la ciudad de Manizales; Maria del Socorro
          Candamil de la Universidad de Caldas con su conferencia ''Estrategia de prevención de las violencias de
          género, la promoción de los derechos y nuevas masculinidades; Norma Liliana Gómez presentó los resultados de
          la encuesta de percepción de la discriminación en la ciudad de Manizales - 2017 y, por último, Martha Lucia
          Botero nos contó los efectos psicológicos de la violencia de pareja sobre la vida y la autonomía de las
          mujeres.
        </p>
        <p class="py-3 mt-4 lead">
          El evento se desarrolló en el Salón Cultural Cafetero en el Centro Administrativo Municipal de la Alcaldía de
          Manizales.
        </p>
        <p class="py-3 lead">
          Gracias a la Secretaría de Mujeres y Equidad de Género y a la Secretaría de Salud de Manizales por la
          invitación.
        </p>
      </div>
    </div>
  </div>

  <div class="container pb-5 border-bottom mx-auto mt-5">
    <div class="row">
      <div class="col-md-9">
        <h1 class="pt-5 border-top">Mujeres Emprendedoras</h1>
        <p class=" lead my-3 py-5 border-top border-bottom">Por Dirección de Mercadeo y Comunicaciones</p>
      </div>
      <div class="col-md-5 mx-auto">
        <img src="../../assets/noticias_7.jpg" class="img-fluid my-4 py-1 " alt="noticias_7">
        <img src="../../assets/noticias_6.jpg" class="img-fluid " alt="noticias_6">
      </div>
      <div class="col-md-6 p-4 ">
        <p class="pb-3 lead">
          Ayer tuvimos una experiencia de empoderamiento femenino en el evento Mujeres Emprendedoras en el Marco de la
          Semana Global del Emprendimiento.
        </p>
        <p class="py-3 lead">
          La jornada contó con conferencistas como Juliana Barreto empresaria colombiana y ex inversionista de Shark
          Tank Colombia y Joana Prieto fundadora de Geek Girls Latam.
        </p>
        <p class="py-3 mt-4 lead">
          Además hubo un panel de expertas en economía naranja como Ana Maria Villalba de Ana Listas, Tatiana Gutiérrez
          de Editorial Pispirispis, Victoria Coppiano de la Agencia de Publicidad AM Coppiano y Elvira Escobar de
          Actores en Escena Manizales.
        </p>
      </div>
    </div>
  </div>
  
  <!-- Segunda Pag -->

  


</main>
