<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>
          Participamos en el Comité Consultivo Municipal para la Prevención de la Violencia Sexual en NNA
        </h1>
        <button class="btn btn-primary " href="#">Comentarios</button>
      </div>
      <div class="col-md-3 d-flex justify-content-center gap-4 align-items-center">
        <a href="https://www.facebook.com/FMilagrodeAbril/"><img src="../../assets/face-black.svg" alt="facebook"></a>
        <a href="https://twitter.com/FMilagrodeAbril"><img src="../../assets/twitter-black.svg" alt="twitter"></a>
        <a href="https://www.instagram.com/fmilagrodeabril/"><img src="../../assets/insta-black.svg"
            alt="instagram"></a>
        <a href="mailto:info@fundacionmilagrodeabril.org"><img src="../../assets/mail.svg" alt="send-mailto"></a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row gap-4">
      <div class="col-md-6">
        <p class="border-bottom lead py-4 mb-4 border-top mt-4">Por Dirección de Mercadeo y Comunicaciones</p>
        <img src="../../assets/noticia_1.jpg" alt="noticia_1" class="img-fluid">


      </div>
      <div class="col-md-5 mx-auto ">
        <p class="my-3 mt-3 pb-1 lead">El 5 de marzo del presente año, la Fundación Milagro de Abril estuvo presente en el Comité
          Interinstitucional Consultivo Municipal para la Prevención de la Violencia Sexual y Atención Integral de
          Niños,
          Niñas y Adolescentes Víctimas de Abuso Sexual y Violencia de Género en representación de las ONG’s sociales.
        </p>
        <p class="my-3 lead">
          Este comité tuvo la participación de la Secretaría de Salud Pública de Manizales, Secretaría de Educación,
          Instituto Colombiano de Bienestar Familiar ICBF, Fiscalía General de la Nación: Futuro Colombia y CTI,
          Instituto Nacional de Medicina Legal y Ciencias Forenses, Comisarías de Familia, Policía Nacional Infancia y
          Adolescencia y DDHH, entre otros entes competentes en este tema
        </p>
        <p class="my-3 lead">
          Esperamos que con nuestra participación podamos contribuir con la articulación de los programas de las
          diferentes instituciones con las reales necesidades de los NNA en condiciones de vulnerabilidad de maltrato y
          abuso sexual.
        </p>
      </div>
    </div>
  </div>

</main>
