<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mt-4 text-left my-3 py-3 ">
        <h1 class="py-3 border-bottom">Quienes Somos</h1>
        <p class="py-4 lead">
          Somos un grupo de familiares y amigos que a través de nuestras vivencias personales creamos
          nuestro proyecto de vida al que llamamos <strong>Fundación Milagro de Abril.</strong>
        </p>
        <h1 class="my-3">Nuestra Historia</h1>
        <p class="lead">
          La Fundación fue creada el 25 de noviembre de 2016 y constituida legalmente el 27 de abril de 2017 con el
          propósito de brindar luz y esperanza a partir de apoyo holistico e integral. a los sobrevivientes de maltrato,
          abuso y exclusión social.
        </p>

      </div>
      <div class="col-md-6 row text-center mt-5 py-3 ">
        <img src="../../assets/about_1.png" class="fix_img">
      </div>
    </div>
  </div>
  <div class="mt-5 container">
    <div class="row text-center">
      <div class="col-md-6 p-4  ">
        <h2 class="border-bottom pb-4">Visión</h2>
        <p class="mt-4 lead">En 5 años seremos una organización reconocida internacionalmente por brindar una intervención
          holística e
          integral de alta calidad en los procesos de recuperación, sanación y empoderamiento de las mujeres, niños,
          niñas y adolescentes sobrevivientes de maltrato, abuso y exclusión social.

        </p>
      </div>
      <div class="col-md-6 p-4">
        <h2 class="border-bottom pb-4 ">Misión</h2>
        <p class="mt-4 lead">Somos una red de contacto y apoyo integral para las mujeres, niños, niñas y
          adolescentes sobrevivientes de maltrato, abuso y exclusión social, brindando además a las comunidades más
          vulnerables herramientas educativas de prevención.</p>
      </div>
    </div>
  </div>
  <div class="container mt-5 py-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mb-4">
          Nuestro Equipo
        </h1>
        <p class="border-top pt-5 lead">
          Nuestro equipo está conformado por el Consejo de Fundadoras, el grupo de profesionales de apoyo y el grupo de
          voluntarios que apoyan las áreas de Marketing y Comunicaciones, Planeación y Desarrollo Social, Dirección
          Administrativa y Dirección Jurídica. Tú también puedes ser parte de nuestro equipo, únete a nuestro grupo de
          voluntarios.
        </p>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_2.png" class="fix_img">
          <h2 class="my-3">Ángela Salazar</h2>
          <p class="my-3">Directora Ejecutiva</p>
        </div>
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_3.png" class="fix_img">
          <h2 class="my-3">Sandra Salazar</h2>
          <p class="my-3">Directora Jurídica</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_4.png" class="fix_img">
          <h2 class="my-3">Carmenza Arias</h2>
          <p class="my-3">Atención a la comunidad</p>
        </div>
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_5.png" class="fix_img">
          <h2 class="my-3">Diana Huaver</h2>
          <p class="my-3">Relaciones Internacionales</p>
        </div>
    </div>
      <div class="row">
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_6.png" class="fix_img">
          <h2 class="my-3">Gustavo Salazar</h2>
          <p class="my-3">Asesor Médico</p>
        </div>
        <div class="col-md-6 text-center py-4">
          <img src="../../assets/about_7.png" class="fix_img">
          <h2 class="my-3">Maria Emma Rivera</h2>
          <p class="my-3">Psicóloga y Coach</p>
        </div>
    </div>
  </div>
  <div class="container text-center border-top  py-5">
    <div class="row ">
      <div class="col-md-4 mb-5">
        <h3 class="my-3">Juan Camilo Avenia</h3>
        <img src="../../assets/about_9.jpg" class="fix_img">
      </div>
      <div class="col-md-4 mb-5">
        <h3 class="my-3">Carolina Mejía</h3>
        <img src="../../assets/about_10.jpg" class="fix_img">
      </div>
      <div class="col-md-4 mb-5">
        <h3 class="my-3">Silvana Nivia</h3>
        <img src="../../assets/about_11.jpg" class="fix_img">
      </div>
    </div>
    <div  class="row">
      <div class="col-md-4 mt-3">
        <h3 class="my-3">Hannah Rashid</h3>
        <img src="../../assets/about_12.jpg" class="fix_img">
      </div>
      <div class="col-md-4 mt-3">
        <h3 class="my-3">Daniela Leal</h3>
        <img src="../../assets/about_13.jpg" class="fix_img">
      </div>
      <div class="col-md-4 mt-3">
        <h3 class="my-3">Santiago Cadavid</h3>
        <img src="../../assets/about_14.jpg" class="fix_img">
      </div>
    </div>
  </div>

  <div class="container">
    <div class ="row">
      <div class="col-md-12 text-center">
        <h2 class="my-4 py-4 border-top">Únete como voluntario</h2>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)" novalidate>
            <div>
              <label class="my-2" for="name">Nombre<span>*</span></label>
              <input class="form-control mb-3 w-75" type="text" name="name" required #name="ngModel" ngModel>
              <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
                Inserta un nombre válido.
              </div>
            </div>
            <div>
              <label class="my-2" for="email">Email<span>*</span></label>
              <input class="form-control mb-3 w-75" type="text" name="email" required email #email="ngModel" ngModel>
              <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                Inserta un e-mail válido.
              </div>
            </div>
            <div>
              <label class="my-2" for="phone">Teléfono<span>*</span></label>
              <input class="form-control mb-3 w-75" type="text" name="phone" required #phone="ngModel" ngModel>
              <div *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)">
                Inserta tu número de teléfono.
              </div>
            </div>
           <button type="submit" class="btn-form" [disabled]="!contactForm.valid || isSubmitted" [ngClass]="{'btn-disabled' : isSubmitted || !contactForm.valid}">Enviar</button>
        </form>
      </div>
      <div class="col-md-4 mx-auto">
        <img src="../../assets/about_15_form.jpg" alt="form-img">
      </div>
      </div>
    </div>
  </div>
</main>