<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 row text-center mt-5 py-3 ">
                <img src="../../../assets/alma_1.png" class="fix-img">
            </div>
            <div class="col-12 col-md-6 mt-4 text-left my-3 py-3 ">
                <h1 class="py-3">QUERIDA SOBREVIVIENTE</h1>
                <p class="py-4 lead">
                    Si has sido o estás siendo víctima de violencia de género, este espacio esta dedicado para ti.

                    Puede que en este momento te sientas confundida y estés en busca de ayuda y apoyo.
                    
                    La Fundación Milagro de Abril tiene sus corazones abiertos para brindarte toda la información y orientación que necesitas. 
                    
                    Recuerda que en este proceso no estas sola y no tienes la culpa de lo que te ocurrió o te está ocurriendo, nadie merece ser lastimado y vulnerado.
                    
                    Creemos en ti y esperamos poder brindarte nuestro apoyo incondicional para acompañarte en tu proceso de recuperación y a que juntos superemos esta experiencia.                    
                </p>
            </div>
        </div>

        <div class="row text-justify">
            <div class="col-12 p-4">
                <h2 class="border-bottom pb-4">Reacciones al trauma</h2>
                <p class="mt-4 lead">A continuación, se presentan algunas de las reacciones que son naturales y esperadas en los sobrevivientes de trauma y pérdida.
                    No hay una lista completa de reacciones traumáticas que esperar, sin embargo, incluyen en ningún orden en particular:
                </p>
            </div>
            <div class="col-12 col-md-6 p-3 text-center">
                <img src="../../../assets/alma_2.png" alt="" class="survivor-picture">
            </div>
            <div class="col-12 col-md-6 p-3">
                <p>
                    Pesadillas<br>
                    Susto nocturno<br>
                    Pérdida de apetito<br>
                    Irritabilidad, le molestan los demás.<br>
                    Llanto, llanto incontrolablemente<br>
                    Incapacidad para llorar<br>
                    Agitación física o mental<br>
                    Respuesta exagerada de sobresalto<br>
                    Caminar nervioso o sin rumbo<br>
                    Agacharse o acurrucarse<br>
                    Aislarse<br>
                    Automedicarse
                </p>
            </div>
            <div class="col-12 col-md-6 px-3">
                <p class="text-end">
                    Extrema precaución<br>
                    Impulsividad<br>
                    Obsesionarse por los detalles<br>
                    Sentido de pérdida de control sobre la vida<br>
                    Recuerdos<br>
                    Pensamientos intrusivos<br>
                    Malestar estomacal<br>
                    Dolores de cabeza<br>
                    Tensión muscular en una parte específica del cuerpo.<br>
                    Sentirse inmovilizada<br>
                    Querer no salir de casa u otro lugar seguro<br>
                    Miedo a estar sola y miedo a demasiadas personas
                </p>
            </div>
            <div class="col-12 col-md-6 px-3 text-center">
                <img src="../../../assets/alma_3.png" class="survivor-picture" alt="">
            </div>
            <div class="col-12 col-md-6 p-3 text-center">
                <img src="../../../assets/alma_4.png" class="survivor-picture" alt="">
            </div>
            <div class="col-12 col-md-6 p-3">
                <p>
                    Ira o rabia<br>
                    Sentimientos y pensamientos vengativos<br>
                    Cuestionarse a sí misma<br>
                    Sentimientos de culpa <br>
                    Sentimientos separados de otros y/o de uno misma<br>
                    Una sensación de irrealidad, sentimientos como si uno estuviera en una niebla o nube<br>
                    La urgencia de arreglar algo<br>
                    Sentirse triste y letárgica<br>
                    Sensación de hormigueo en la piel<br>
                    Choque e incredulidad<br>
                    Entumecimiento<br>
                    Alta ansiedad<br>
                    Trastornos del sueño: no poder dormir, incapacidad para quedarse dormida, interrupción del sueño, levantarse temprano o dormir demasiado
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-blue p-5">
        <div class="row">
            <div class="col-12 px-5 pb-1 ms-3"><h2 class="text-white ms-5 pb-3">Ejercicio de respiración</h2></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 p-3">
                <p class="text-white breathing-box">
                    Cuando sientas ansiedad o tengas un ataque de pánico practica este ejercicio de respiración para retomar el control.<br><br>
                    1. Si es posible, coloca ambos pies sobre el piso y las manos sobre los muslos.<br>
                    2. Observa tu ansiedad/enojo/incomodidad y califícalo en esta escala del 1 al 10 (10 es el más intenso).<br>
                    3. Relaja tus músculos abdominales.<br>
                    4. Inhala por la nariz mientras cuentas hasta cuatro (tu abdomen se extenderá).<br>
                    5. Exhala por la nariz mientras cuentas hasta cuatro (tu abdomen se contraerá).<br>
                    6. Toma de cuatro a cinco inhalaciones y exhalaciones.<br>
                    7. Observa tu ansiedad/enojo/incomodidad y califícalo en una escala del 1 al 10.<br>
                </p>
            </div>
            <div class="col-12 col-md-6 p-3 text-start">
                <img src="../../../assets/alma_5.png" width="400px" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5 border-bottom">
            <div class="col-6 ps-4"><h2>Infórmate</h2></div>
            <div class="col-6 mt-3 text-end">
                <img src="../../../assets/alma_6.png" alt="">
            </div>
        </div>
        <div class="row border-bottom text-center py-4">
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_7.jpg" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_8.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_9.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_10.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_11.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_12.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_13.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_14.png" width="95%" alt=""></div>
        </div>
        <div class="row text-center py-4">
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_15.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_19.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_16.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_20.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_17.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_21.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_18.png" width="95%" alt=""></div>
            <div class="col-6 col-md-3 my-4"><img src="../../../assets/alma_22.png" width="95%" alt=""></div>
        </div>
    </div>
</main>