<main>
  <div class="container">
    <div class="row d-flex items-center">
      <div class="col-md-6">
        <h1 class="text-uppercase my-5 pt-5">conoce la realidad</h1>
        <p class="lead ">
          Para terminar con la violencia doméstica y la violencia sexual debemos ser parte de la solución y ser
          conscientes de la realidad de nuestro país. Necesitamos ciudadanos comprometidos con esta causa, que se
          eduquen a sí mismos y a los demás, que ayuden a alguien que haya sido maltrato y/o abusado, que alcen su voz
          por los que no la tienen y sean un ejemplo en su comunidad.
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/aprende_1.png" class=" order-2 img-fluid " alt="aprende_1">
      </div>
    </div>
  </div>

  <div class="container pb-4 mb-5">
    <div class="row mx-auto">
      <h4>Hablar abiertamente de estos temas ayuda a terminar con el tabú y permite a los sobrevivientes a eliminar el
        estigma y la vergüenza que los afectan.</h4>
    </div>
  </div>

  <div class="container mt-5">
    <h1 class=" text-center border-bottom pb-5 ">Mitos y Realidades de la Violencia Sexual</h1>
    <div class="row">
      <div class="col-md-11 mx-auto">
        <p class="lead my-2">
          La <span>agresión sexual</span> un acto de violencia en el cual la fuerza o las amenazas son utilizadas por
          una persona contra otra sin su consentimiento. Involucra actos sexuales, pero no está limitado por el género,
          la relación entre la víctima y el perpetrador, el método, el arma, la parte o partes del cuerpo penetradas.
        </p>
        <p class="lead my-5">
          El consentimiento verdadero se da cuando existe un deseo mutuo de interacciones sexuales y ambos participantes
          tienen la capacidad de comprender y apreciar completamente las consecuencias del consentimiento.
        </p>
        <p class="lead my-5">
          Hay muchas nociones de lo que es la violencia sexual, quien puede ser abusado, quien puede ser el abusador y
          en qué clase de lugares pueden ocurrir estos crímenes.
        </p>
        <p class="lead my-5">
          Muchos de nosotros nunca hemos pensado realmente en la violencia sexual hasta que nos ocurre o le ocurre a
          alguien que conocemos y queremos. Después de ocurrido el episodio, muchos de los sobrevivientes y las personas
          cercanas piensan cosas como ‘’si solamente hubiera hecho esto… no me habrían abusado’’. Quizás si se conocen
          algunos hechos acerca de la violencia sexual, los sobrevivientes y las personas a su alrededor no se sentirían
          culpables.
        </p>
        <h4>La comprensión de los hechos a continuación le puede ayudar a entender la violencia sexual y cómo
          afrontarla.</h4>
      </div>
    </div>
  </div>

  <div class="container  my-4">
    <div class="row">
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_10.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> el motivo principal del abuso es sexual.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> el poder es el motivo principal.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_11.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> la violencia sexual es primordialmente un crimen sexual.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la violencia sexual es un asalto violento que se ejecuta sexualmente.
          En este acto no solo se viola la integridad de la víctima sino también su sentido de seguridad, control y
          dominio de su propia vida.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_12.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> la violencia sexual generalmente es cometida por un extraño.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> alrededor del 78.3% de las agresiones sexuales son cometidas por
          conocidos, familiares, cónyuges, expareja y amigos de acuerdo con las cifras del Instituto Nacional de
          Medicina Legal y Ciencias Forenses (Forensis, 2018).
        </p>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_13.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> la mayoría de la violencia sexual ocurre como un acto ‘’bajo el impulso
          del momento’’, en un callejón oscuro y cometido por un desconocido.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la mayoría de la violencia sexual es planeada y ocurre en nuestro
          propio hogar (El 69% de los casos de violencia sexual en Colombia fueron dentro de la vivienda familiar
          (Forensis, 2018)). A menudo el agresor es un pariente, amigo o conocido de la víctima (78% de casos (Forensis,
          2018)). Esta persona cometerá este crimen una y otra vez, generalmente en la misma área de la ciudad y de la
          misma manera.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_14.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> ‘’Nunca me podría suceder a mi’
        </p>
        <p>
          <span class="span_purple">Hecho:</span> todos somos víctimas potenciales de ser violentados sexualmente,
          independientemente del sexo, raza, edad, posición socioeconómica, religión, estado civil, orientación sexual,
          identidad sexual, ocupación, nivel de educación o apariencia física.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_15.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> la violencia sexual no ocurre muy a menudo.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> según el Instituto Nacional de Medicina Legal y Ciencias Forenses, en
          Colombia la violencia sexual ocurre cada 20 minutos, teniendo en cuenta que estos datos solo corresponden a
          los casos de exámenes médicolegales por presunto delito sexual (Forensis, 2018).
        </p>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_16.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> las personas provocan ser abusadas sexualmente por la forma en que se
          visten, actúan, su atractivo o su edad.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la mayoría de los abusos están planeados.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> cualquiera puede ser víctima independientemente de su edad, raza,
          género u orientación sexual.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la vulnerabilidad y la oportunidad son los factores clave. Los
          estudios científicos demuestran que los agresores sexuales buscan víctimas accesibles y vulnerables.
        </p>

      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_17.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> las mujeres secretamente desean ser abusadas.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la fantasía no es la realidad y las víctimas que suelen concebir
          pensamientos caprichosos sobre la violencia sexual, generalmente, piensan en el acto solo como un acto de sexo
          agresivo y consentido. Sus fantasías no reflejan lo que el abuso sexual es en realidad.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_18.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> la mayoría de abusos sexuales son interraciales.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la mayoría de los abusos sexuales ocurren entre personas de la misma
          raza y cultura.
        </p>
      </div>
    </div>
  </div>

  <div class="container my-4">
    <div class="row">
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_19.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> el abuso sexual es un crimen sin violencia.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> el abuso sexual es un crimen violento. En la mayoría de los casos el
          abusador amenaza a la víctima con hacerle daño a ella y a los suyos.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_20.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> las víctimas que no se defienden realmente no han sido agredidas.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> contraatacar no siempre es seguro.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> algunas víctimas no pueden defenderse.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_21.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> ‘’No lo volverá a hacer, no es necesario informar’’. ‘’Solo necesito
          mantenerme a salvo’’.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> La mayoría de los agresores sexuales continúan cometiendo el crimen
          hasta que la justicia los detiene.
        </p>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_22.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> las mujeres frecuentemente hacen falsas acusaciones de agresión sexual.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> solo alrededor del 2 al 4% de los informes de agresión sexual son
          falsos, esta es la misma tasa de informes falsos para otros delitos graves (TAASA, 2016).
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_23.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> es muy fácil identificar a un agresor sexual en la multitud.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> la mayoría de los agresores sexuales tienen una apariencia normal.
          Pueden ser de cualquier sexo, raza, edad, posición socioeconómica, religión, estado civil, orientación sexual,
          identidad sexual, ocupación, nivel de educación o apariencia física.
        </p>
      </div>
      <div class="col-md-4 px-3">
        <img src="../../../assets/aprende_24.png" class="img-fluid" alt="aprende">
        <p>
          <span class="span_blue">Mito:</span> los agresores sexuales son arrestados, acusados ​​y condenados en un
          período de tiempo relativamente corto.
        </p>
        <p>
          <span class="span_purple">Hecho:</span> un agresor sexual no puede ser arrestado inmediatamente después del
          crimen. Además, la investigación podría llevar meses y quedar libre. Si se llega a juicio, este podría llevar
          un año o más.
        </p>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <h1 class="text-center pb-5 border-bottom">Los Datos</h1>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <img src="../../../assets/aprende_25.jpg" class="img-fluid" alt="'Datos'">
      </div>
    </div>
  </div>
</main>
