<main>
    <div class="container">
        <div class="row">
          <div class="col-md-6 mt-4 text-left my-3 py-3 ">
            <h1 class="py-3">Programa Guadalupe</h1>
            <p class="py-4 lead text-justify">
                Brindamos acompañamiento espiritual, psicosocial, médico y legal en los procesos de recuperación,
                sanación y empoderamiento de mujeres, niños, niñas y adolescentes sobrevivientes de maltrato y abuso sexual,
                logrando la inclusión en su ámbito familiar, social, académico y laboral, permitiendo su autonomía e independencia.
            </p>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="py-4 border-bottom">Trabajamos para</h2>
            </div>
            <div class="col-6 col-md-3">
                <img src="../../../assets/guadalupe_1.png" width="100%" class="my-4">
                <p class="text-muted text-center">Sector Privado</p>
            </div>
            <div class="col-6 col-md-3">
                <img src="../../../assets/guadalupe_2.png" width="100%" class="my-4">
                <p class="text-muted text-center">Sector Público</p>
            </div>
            <div class="col-6 col-md-3">
                <img src="../../../assets/guadalupe_3.png" width="100%" class="my-4">
                <p class="text-muted text-center">Sector Social</p>
                </div>
            <div class="col-6 col-md-3">
                <img src="../../../assets/guadalupe_4.png" width="100%" class="my-4">
                <p class="text-muted text-center">Sector Educativo</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="py-4 mt-5 border-bottom">Proyectos</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <img src="../../../assets/guadalupe_5.png" width="70%" class="mt-4 mb-3">
                <p class="text-muted text-center">Prevención, protección y empoderamiento de mujeres sobrevivientes de violencia de género</p>
                <a routerLink="../mujeres-del-alma"><button class="text-white">Conoce más</button></a>
            </div>
            <div class="col-12 col-md-6">
                <img src="../../../assets/guadalupe_6.png" width="70%" class="mt-4 mb-5">
                <p class="text-muted text-center">Prevención del maltrato y Abuso Sexual Infantil en las instituciones educativas</p>
                <a href="https://www.instagram.com/rutadelamariposa/?hl=es-la" target="_blank"><button class="text-white">Conoce más</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="py-4 mt-5 border-bottom">Campañas</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <img src="../../../assets/guadalupe_7.png" width="60%" class="my-4">
                <p class="text-muted text-center py-2">Colombia dice No Más</p>
                <a routerLink=""><button class="text-white">Conoce más</button></a>
            </div>
            <div class="col-12 col-md-6">
                <img src="../../../assets/guadalupe_8.png" width="60%" class="my-4">
                <p class="text-muted text-center py-2">Buzón Naranja: Lo que callamos las mujeres</p>
                <a routerLink="../buzon-naranja" target="_blank"><button class="text-white">Conoce más</button></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <h2 class="py-4 mt-5 border-bottom">Movimientos Aliados</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 mt-4 my-3">
                <p class="py-4 lead text-justify text-muted">
                    <b>#HeForShe</b> invita a hombres y personas de todos los géneros a demostrar su 
                    solidaridad con las mujeres para crear un movimiento valiente,
                    visible y unido en la defensa de la igualdad de género.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/guadalupe_9.png" width="50%" class="mt-4">
            </div>
            <div class="col-12 border-bottom pb-5">
                <a href="https://www.heforshe.org/es" target="_blank"><button class="text-white">¡Únete!</button></a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <img src="../../../assets/guadalupe_10.jpg" width="50%" class="my-4">
            </div>
            <div class="col-12 mt-4 my-3">
                <p class="py-4 lead text-muted">
                    <b>#NoMás</b> es un movimiento global dedicado a sensibilizar sobre la 
                    violencia doméstica y el abuso sexual, incentivando a todos,
                    mujeres y hombres, jóvenes y adultos, de todos los ámbitos, a ser parte de la solución.
                </p>
            </div>
            <div class="col-12 border-bottom pb-5">
                <a href="https://nomore.org/" target="_blank"><button class="text-white">¡Únete!</button></a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <img src="../../../assets/guadalupe_11.png" width="50%" class="my-4">
            </div>
            <div class="col-12 mt-4 my-3">
                <p class="py-4 lead text-muted">
                    La campaña "Generación Igualdad" hace parte de la campaña "ÚNETE hasta 2030" del Secretario General de las Naciones Unidas, 
                    para poner fin a la violencia contra las mujeres, la cual insta a personas de todo tipo, de diferentes generaciones, 
                    a pronunciarse contra la violación de la manera más enérgica hasta ahora vista. 
                </p>
            </div>
            <div class="col-12 mb-5">
                <a href="https://colombia.unwomen.org/es/biblioteca/publicaciones/2017/11/kit-de-accion-unete" target="_blank"><button class="text-white">Conocer más</button></a>
            </div>
        </div>
    </div>
</main>