 h1,h2,h3{
    font-size: 50px;
    font-weight: bolder;
} 

/* para título */
.orange{
    color:rgb(229, 101, 77);
    font-weight: bold;
}

/* para span con nombres */
.text-orange{
    color: rgb(229, 101, 77);
    font-weight: bold;
    font-size: 25px;

}

.text-blue{
    font-weight: bold;
    color:#48a;
}
.btn-form{
    background:rgb(229, 101, 77);
    padding: .5em 3em;
    border: 0;
    border-radius:.3em;
    color :#fff;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-form:hover{
    background-color:rgb(255, 97, 0);
    transition: background .5s;
}


.btn-disabled {
    background-color: #565664
}

.textarea{resize:none;}