<!-- 1 -->

<div class="container">
    <div class="row mt-5">
        <h1 class="orange"><span class="d-block my-3">Buzón Naranja:</span> Lo que callamos las mujeres</h1>
        <div class="col-md-9 text-justify">
            <p class="py-2 my-4 lead">
                Es un espacio que invita a las mujeres a que compartan sus historias de maltrato y abuso de manera anónima, así como    también invita a la comunidad en general a enviar sus mensajes de apoyo y esperanza para las sobrevivientes. 
            </p>
            <p class="py-2 lead">La campaña hace parte del movimiento global <span class="text-blue">''No Más''</span>.</p>
        </div>
    </div>
</div>

<!-- 2 -->

<div class="container py-5 mb-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <img src="../../../assets/bnaranja_1.png"  class="img-fluid border-top pt-4" alt="b_naranja_historias" >            
        </div>
    </div>
</div>

<!-- 3 -->


<div class="container">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-md-3 mx-auto">
            <img src="../../../assets/bnaranja_2.png" class="img-fluid mb-5 border-top pt-4" alt="b_naranja_andrea">
        </div>
        <div class="col-md-7 mx-auto">
            <em>
                <p class="text-justify">
                    "He sido victima de maltrato físico y psicológico por parte de mi pareja. Han pisoteado mi vida, me han humillado, he recibido cualquier tipo de palabras y abusos despreciables. Jamás pensé que esto me fuera     a   ocurrir.
                    Es un milagro que este viva y ahora lo puedo contar para que esto no suceda con otras personas y tengan el valor de denunciar y parar todo tipo de abuso.
                    Mientras haya vida hay esperanza"
                </p>
            </em>
            <span class="d-block text-orange my-4"><strong>Andrea, 30 años</strong></span>

        </div>
    </div>
</div>

<!-- 4 -->

<div class="container">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-md-3 mx-auto">
            <img src="../../../assets/bnaranja_3.png" class="img-fluid mb-5 border-top pt-4" alt="b_naranja_diana">
        </div>
        <div class="col-md-7 mx-auto">
            <em>
                <p class="text-justify">"Sufrí maltrato por mi pareja por 12 años, maltrato físico, psicológico y económico y creí que estaba bien y que debía soportar el abuso por mantener una familia unida y darle un hogar a mi hijo. En este momento estoy en proceso de separación y me di cuenta que merezco ser bien amada por una persona diferente y que debo ponerme en primer lugar y amarme mucho. Por esta razón me declaro sobreviviente. ¡Tu también puedes, ánimo!"
                </p>
            </em>
            <span class="d-block text-orange my-4"><strong>Diana, 35 años</strong></span>

        </div>
    </div>
</div>

<!-- 5 -->

<div class="container">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-md-3 mx-auto">
            <img src="../../../assets/bnaranja_4.png" class="img-fluid mb-5 border-top pt-4" alt="b_naranja_laura">
        </div>
        <div class="col-md-7 mx-auto">
            <em>
                <p class="text-justify">
                    "Es muy difícil recordar momentos tan duros de mi vida. Fui abusada y maltratada por mi esposo     por muchísimos años, quien también abuso de mis hermanas y mi hija. 
                    No quiero que sigan pasando estas cosas. Hay que denunciar"
                </p>
            </em>
            <span class="d-block text-orange my-4"><strong>Laura, 40 años</strong></span>

        </div>
    </div>
</div>

<!-- 6 -->

<div class="container">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-md-3 mx-auto">
            <img src="../../../assets/bnaranja_5.png" class="img-fluid mb-5 border-top pt-4" alt="b_naranja_daniela">
        </div>
        <div class="col-md-7 mx-auto">
            <em>
                <p class="text-justify">
                    "Hace seis meses fui abusada sexualmente por un señor que nunca había visto en mi vida, yo estaba con mi mejor amiga y fuimos amarradas violentadas, golpeadas e intimidadas con un arma de fuego. Esto fue un momento traumático de nuestras vidas pero gracias a Dios y a todas las oportunidades que me presenta la vida he podido salir adelante y pensar que soy una niña afortunada y que con la ayuda de Dios y de la gente que me rodea podré ayudar a más niñas como yo a amar la vida, a darle gracias a Dios por cada día que me regala para servirle y no verlo como una tragedia sino como una enseñanza."
                </p>
            </em>
            <span class="d-block text-orange my-4"><strong>Daniela, 19 años</strong></span>

        </div>
    </div>
</div>

<!-- 7 -->

<div class="container">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-md-3 mx-auto">
            <img src="../../../assets/bnaranja_6.png" class="img-fluid mb-5 border-top pt-4" alt="b_naranja_abril">
        </div>
        <div class="col-md-7 mx-auto">
            <em>
                <p class="text-justify">
                    "Fui abusada sexualmente por mi cuñado hace dos años y víctima de incesto desde los tres o cuatro años. 
                    Tuve una relación con un hombre que me manipulaba, me maltrataba psicológicamente y llego al punto de agredirme físicamente en varias ocasiones.
                    Ha sido un proceso muy difícil que gracias a mi familia, en especial a mi madre y a los psicólogos y psiquiatras he sabido superar con mi mayor esfuerzo.
                    Quiero ayudar a todas las personas que al igual que yo han tenido que vivir esto y luchar porque no hayan más niños abusados, maltratados y prisioneros de este sufrimiento. 
                    !Yo pude y tu también podrás!" 
                </p>
            </em>
            <span class="d-block text-orange my-4"><strong>Abril, 28 años</strong></span>
        </div>
    </div>

</div>


<div class="container">
    <div class ="row">
      <div class="col-md-8 ">
        <h2 class="my-4 py-4 border-top orange">Ingresa Tu Mensaje al Buzón Naranja Virtual</h2>
        <p class="lead orange border-bottom pb-4">Si deseas déjanos tus datos para contactarnos contigo</p>
      </div>
    </div>
    <div>
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <form>
                <div>
                    <label class="my-2 text-orange" for="name">Mensaje</label>
                    <textarea class="textarea form-control mb-3 " cols="80" rows="10" id="name"></textarea>
                </div>
                <input type="submit" class="btn-form" value="Enviar"/>
            </form>
        </div>
        <div class="col-md-4 mx-auto">
            <img src="../../../assets/bnaranja_7.png" class="img-fluid"  alt="form-img">
            </div>
        </div>
    </div>
  </div>