<main>
  <!-- 1 -->
  <div class="container py-3 ">
    <div class="row">
      <div class="col-md-6 order-2 mt-5 p-5">
        <p class="lead">
          El silencio y la falta de conocimiento sobre la violencia doméstica y el abuso sexual juegan un papel
          importante en la razón por la cual se continúan perpetuando y tienen efectos profundos y duraderos en las
          vidas de los sobrevivientes.
        </p>
        <p class="lead">
          Simplemente querer ayudar es un gran paso para terminar con la vergüenza y el estigma que soportan los
          sobrevivientes.
        </p>
        <p class="lead">
          En la Fundación Milagro de Abril estamos comprometidos con conectar a nuestra comunidad con información y
          recursos sobre estos tipos de violencia.
        </p>
        <p class="lead">
          Aprende a reconocer la violencia doméstica y el abuso sexual, qué hacer cuando lo identifiques y cómo
          prevenirlo.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../assets/aprende_1.png" alt="aprende_1">
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="container py-3">
    <div class="row">
      <h1 class=" text-center border-top pt-5">¿Qué es la Violencia Doméstica y el Abuso Sexual?</h1>
      <div class="col-md-6  mt-3">
        <h2 class="text-center">Violencia Doméstica</h2>
        <p class="lead">
          La Violencia doméstica es un patrón de comportamiento utilizado para establecer el poder y el control sobre
          otra persona a través del miedo y la intimidación, a menudo incluyendo la amenaza o el uso de la violencia.
        </p>
        <div class="py-3 lead text-center text-uppercase">Algunos signos de una relación abusiva:</div>
        <ul>
          <li>Ejercer un control estricto (financiero, social y / o de apariencia).</li>
          <li>Necesitando contacto constante incluyendo mensajes y llamadas excesivas.</li>
          <li>El abuso emocional incluye insultar a un compañero frente a otras personas.</li>
          <li>Los celos extremos.</li>
          <li>Generar miedo a la pareja.</li>
          <li>Aislamiento de familiares y amigos.</li>
          <li>Cancelación frecuente de planes a última hora.</li>
          <li>Lesiones inexplicables o explicaciones que no van al caso.</li>
        </ul>
      </div>
      <div class="col-md-6  mt-3">
        <h2 class="text-center">Violencia Sexual</h2>
        <p class="lead">
          ​​El Abuso Sexual es un contacto sexual forzado, sin consentimiento, sin la presencia de un claro sí, no la
          ausencia de un no. El asalto sexual es un delito motivado por la necesidad de controlar, humillar, dominar y
          dañar.
        </p>
        <p class="py-3 lead text-center text-uppercase">Puede tomar la forma de:</p>
        <ul class="text-left">
          <li>Violacion</li>
          <li>Incesto</li>
          <li>Abuso Sexual Infantil</li>
          <li>Masturbación</li>
          <li>Sexo Oral</li>
          <li>Acoso</li>
          <li>Exhibicionismo</li>
          <li>Obligar a una persona a posar para fotos sexuales.
            Caricias sexuales o<em> caricias no deseadas arriba y abajo de la ropa,no necesariamente en los
              genitales</em>.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="container py-5">
    <h1 class="text-center border-top pt-5">¿Cómo Puedes ayudar ?</h1>
    <div class="row">
      <div class="col-md-4 row">
        <img src="../../assets/aprende_2.jpg" class="img-fluid" alt="aprende-2">
        <h3 class="text-center">Apoya a los sobrevievientes</h3>
      </div>
      <div class="col-md-4 row ">
        <img src="../../assets/aprende_3.jpg" class="img-fluid" alt="aprende-3">
        <h3 class="text-center">Interviene</h3>
      </div>
      <div class="col-md-4  row ">
        <img src="../../assets/aprende_4.jpg" class="img-fluid" alt="aprende-4">
        <h3 class="text-center">Se más que un espectador</h3>
      </div>
    </div>
  </div>
<!-- 4 -->
  <div class="container mb-5">
    <h1 class="text-center mb-5 border-bottom py-5">¿Cómo ofrecer soporte y apoyo?</h1>
    <div class="row">
      <div class="col-md-3 pb-3 text-center my-3 items-center">
        <img class="img-fluid mb-3"  src="../../assets/aprende_5.png" alt="aprende_5">
        <p class="my-3 ">No tengas miedo de acercarte y pedir ayuda. Utiliza estas herramientas como guía.</p>
        <button clas="bg-blue-2 text-white">LEER MÁS</button>
      </div>
      <div class="col-md-3 pb-3 text-center my-3">
        <img class="img-fluid mb-3" src="../../assets/aprende_6.png" alt="aprende_6">
        <p class="my-3 "> Qué decir y cómo ayudar.
         Vía - No More -
        </p>
        <button clas="bg-blue-2 text-white">LEER MÁS</button>
      </div>
      <div class="col-md-3 pb-3 text-center my-3">
        <img class="img-fluid mb-3"  src="../../assets/aprende_7.png" alt="aprende_7">
        <div class="row">
          <p class="my-3"> Consejos sobre cómo puedes responder a la violencia cuando está ocurriendo.
            Vía - No More -
          </p>
        </div>
        <button clas=" bg-blue-2 text-white">LEER MÁS</button>
      </div>
      <div class="col-md-3 pb-3  text-center my-3">
        <img  class="img-fluid mb-3" src="../../assets/aprende_8.png" alt="">
        <p class="my-3 ">
          Ejemplos de la vida real para ayudarte a prepararte y aprender de otros.
        </p>
        <button clas=" bg-blue-2 mx-auto text-white">LEER MÁS</button>
      </div>
    </div>
  </div>
<!-- 5 -->
  <div class="container mt-5">
  <h1 class=" border-bottom pb-5  text-center">Recursos y Ayuda</h1>  
    <div class="row">
      <div class="col-md-4 mx-auto lead w-50 mt-5">
        <p class="mt-3">Puede ser difícil saber como apoyar a un familiar, amigo o colega que ha sido víctima de violencia doméstica o abuso sexual pero recuerda esto: no estás solo, no tengas miedo de acercarte y pedir ayuda. Sigue estos consejos de la Fundación -The Turning Point-</p>
      </div>
      
      <div class="col-md-4 mx-auto mb-3 ">
        <img src="../../assets/aprende_9.png" class="img-fluid" alt="aprende_9">
      </div>
    </div>
  </div>
<!-- 6 -->
<div class="hero">

  <div class="p-5 pb-0">
    <h1 class="text-center text-white">Recibe Noticias y Actualizaciones</h1>
    <div class="row pb-5">
      <div class="col-md-6 items-center">
        <form class="w-75 mx-auto">
          <div class="md-col-6">
            <label class="text-white font-bold text-uppercase m-3" for="email">Correo Electrónico</label>
            <input type="email" placeholder="Email" class="form-control  mb-3 py-3 "/>
          </div>
          <div class="d-flex align-items-center my-2">
            <input type="checkbox" id="suscribirme" >
            <label for="suscribirme" class="m-2">Acepto recibir material promocional y de markenting</label>
          </div>
          <input type="submit" class="block" value="SUSCRIBIRME">
        </form>
      </div>
    </div>
  </div>
</div>
</main>
