.navbar {
    padding-top: 200px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -100px;
    display: block;
    max-width: 200px;
}

.navbar-brand > img {
    max-width: 200px;
}

#escape-button {
    height: 180px;
    width: 180px;
    border: none;
    background-color: orange;
    position: fixed;
    bottom: -30px;
    right: -25px;
}

#escape-button > h3 {
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

footer > div > p {
    margin-top: 30px;
}