#logo {
    padding-top: 200px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -100px;
    display: block;
    max-width: 200px;
}

.navbar-brand > img {
    width: 100%;
    padding: 20px;
}

.item-container {
    width: 100%;
}

.item-container > button {
    font-size: larger;
}

#escape-button {
    height: 180px;
    width: 180px;
    border: none;
    background-color: orange;
    position: fixed;
    bottom: -30px;
    right: -25px;
}

#escape-button:hover {
    background-color:orangered;
    transition: background .4s ease-in-out;
}

#escape-button > h3 {
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}


footer > div > p {
    margin-top: 30px;
}