

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="row mx-auto">
        <a class="navbar-brand" href="#">
          <img src="../../assets/logo-principal-vertical.png" alt="logo">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quienes-somos">Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/programas">Programas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aprende">Aprende</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noticias">Noticias</a>
          </li>

          <li ngbDropdown class="nav-item">
            <a ngbDropdownToggle class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul>
              <li ngbDropdownItem><a class="dropdown-item" href="#">Action</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero">

  </div>
  <main>

    <div class="bg-blue survivor text-white p-5 mb-0 mt-5">
      <div class="row">
        <div class="col-md-8 row ">
            <img src="../../assets/index_2.png"  alt="survivor-1">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ">
            <img src="../../assets/index_1.png" class="fix-img" alt="survivor-2">
            <p class="float-p mt-3">Esta información te puede interesarte</p>
          <div class="row">
            <button class="border bg-blue text-white mx-auto mt-5 text-uppercase w-75 py-2 px-4">Ver Más</button>
        </div>
          </div>
      </div>
    </div>
    <div class="bg-blue text-white p-5 ">
      <div class="row">
        <div class="col-md-6 ">
          <h1 class=" py-4 font-weight-bold">Nuestros Servicios</h1>
            <p class="lead mt-4">
              La Fundación Milagro de Abril es una red de contacto y apoyo integral que posibilita la inclusión en el ámbito familiar, social, académico y laboral, logrando la autonomía e independencia de mujeres, niños, niñas y adolescentes sobrevivientes de maltrato, abuso y exclusión social. 
            </p>
            <p class="lead mt-3">
              Trabajamos para el sector social, educativo, público y privado contribuyendo a estos sectores con estadísticas confiables y sistematización de la experiencia. 
            </p>
          </div>
        <div class="col-md-4 mx-auto">
          <img class="img-fluid" src="../../assets/index_4.png" alt="">
        </div>
      </div>
    </div>  
    <div class="container text-center mt-5 py-4">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/index_5_orientacion.png" alt="">
          <p class="my-3"> Ofrecemos orientación espiritual, psicosocial y legal por medio de consejería y asesoría brindada por el grupo de apoyo y profesionales en estas áreas.</p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/index_6_formacion.png" alt="">
          <p class="my-3">
            Proporcionamos material instructivo sobre los derechos legales y en salud  a los que tienen derecho los sobrevivientes. 
          </p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/index_7_prevencion.png" alt="">
          <p class="my-3">
            Brindamos a la comunidad herramientas educativas de prevención del maltrato y abuso sexual.  
          </p>
        </div>
      </div>
    </div>
  </main>
  
    <footer class="d-flex bg-dark px-2 flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="container">
    
      <ul class="nav col-md-12 justify-content-center">
        <li class="nav-item nav-item-foo"><a href="#" class="nav-link px-2 text-muted"><img src="../../assets/insta.svg"/></a></li>
        <li class="nav-item nav-item-foo"><a href="#" class="nav-link px-2 text-muted"><img src="../../assets/face.svg"/></a></li>
        <li class="nav-item nav-item-foo"><a href="#" class="nav-link px-2 text-muted"><img src="../../assets/twitter.svg"/></a></li>
      </ul>
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
    </div>
  </footer>