<main>
  <div class="container py-5 mt-5">
    <div class="row">
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wqMuN9EjqeQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-6 px-3">
        <h3>Una Fundación de SOBREVIVIENTES para SOBREVIVIENTES</h3>
        <p class="mt-4">
          En la quinta edición del Festival de Narrativas Urbanas de la Corporación El Faro, la Fundación Milagro de
          Abril se unió con Huella Fest y Huella Lab para apoyar la creación de este documental.<br />

          Este vídeo contiene material sensible para el público. Se recomienda discreción.
        </p>
        <p class="mt-4">
          Este vídeo revela una verdad importante sobre los sobrevivientes de la violencia sexual. Cada sobreviviente,
          independientemente de su identidad, merece compasión, un soporte y una oportunidad para compartir sus
          experiencias.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-blue text-white mt-5 p-5 ">
    <div class="row">
      <div class="col-md-6 ">
        <h1 class=" py-4 font-weight-bold">Nuestros Servicios</h1>
        <p class="lead mt-4">
          La Fundación Milagro de Abril es una red de contacto y apoyo integral que posibilita la inclusión en el ámbito
          familiar, social, académico y laboral, logrando la autonomía e independencia de mujeres, niños, niñas y
          adolescentes sobrevivientes de maltrato, abuso y exclusión social.
        </p>
        <p class="lead mt-3">
          Trabajamos para el sector social, educativo, público y privado contribuyendo a estos sectores con estadísticas
          confiables y sistematización de la experiencia.
        </p>
      </div>
      <div class="col-md-4 mx-auto">
        <img class="img-fluid" src="../../assets/index_4.png" alt="">
      </div>
    </div>
  </div>

  <div class="bg-blue survivor text-white p-5 mb-0">
    <div class="row">
      <div class="col-md-8 row ">
        <img src="../../assets/index_2.png" alt="survivor-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <img src="../../assets/index_1.png" class="fix-img" alt="survivor-2">
        <p class="float-p mt-3">Esta información te puede interesarte</p>
        <div class="row">
          <button class="border bg-blue hover text-white mx-auto mt-5 text-uppercase w-75 py-2 px-4">Ver Más</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container text-center mt-5 py-5">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/index_5_orientacion.png" alt="">
        <p class="my-4"> Ofrecemos orientación espiritual, psicosocial y legal por medio de consejería y asesoría
          brindada por el grupo de apoyo y profesionales en estas áreas.</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/index_6_formacion.png" alt="">
        <p class="my-4">
          Proporcionamos material instructivo sobre los derechos legales y en salud a los que tienen derecho los
          sobrevivientes.
        </p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/index_7_prevencion.png" alt="">
        <p class="my-4">
          Brindamos a la comunidad herramientas educativas de prevención del maltrato y abuso sexual.
        </p>
      </div>
    </div>
  </div>
  <div class="container my-5 pt-3 pb-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/index_3jpg.jpg" alt="history">
      </div>
      <div class="col-md-6">
        <p class="lead my-4">‘’No eres víctima por compartir tu historia. Eres sobreviviente con tu verdad en un mundo en llamas. Y nunca sabes quien necesita de tu luz, tu cariño y tu ejemplo de coraje’’.<br/>
         <strong class="strong"> - Alex Elle</strong></p>
         <p  class="lead my-4">Comparte tu historia en el Buzón Naranja Virtual y permite que tu experiencia llegue a muchas más mujeres.
          <br/>
          <strong class="strong">¡Unidas somos más!</strong>
        </p>
        <div class="row">
          <button class="border history-btn mx-auto mt-3 text-uppercase w-50 py-2 px-4">Contar Mi Historia</button>
        </div>
      </div>
    </div>
  </div>
</main>