





.navbar {
    padding-top: 200px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -100px;
    display: block;
}

.navbar-brand > img {
    max-width: 200px;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    z-index: -1;
    opacity: 0.8;
}

.bg-blue{
    background-color: #0092a9;
}

.fix-img{
    max-width: 100%;
    margin : 0 auto;
    width: 100%;
}

.survivor{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.float-p{
    position:relative;
    left: 35px;
    
}